* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #333;
  height: 100%;
  width: 100%;
  color: #333;
  line-height: 1.5; }
  body#bg-img {
    background: url("../img/background.jpg");
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      background: rgba(51, 51, 51, 0.9); }

/* Gloal */
.text-dark {
  color: #000; }

.text-light {
  color: #fff; }

.nav-bar {
  position: fixed;
  background: #0d0d0d;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between; }
  .nav-bar .logo {
    width: 200px;
    margin-left: 0.5rem;
    cursor: pointer; }
    .nav-bar .logo img {
      width: 200px;
      height: 3.6rem; }
  .nav-bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2.5rem; }
    .nav-bar ul .list-item {
      list-style: none;
      margin-left: 1.5rem;
      padding: 0 0.5rem; }
      .nav-bar ul .list-item.active {
        border-bottom: 2px solid red; }
        .nav-bar ul .list-item.active .list-link {
          color: #ff9933; }
      .nav-bar ul .list-item .list-link {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff; }
        .nav-bar ul .list-item .list-link:hover {
          color: #ff9933;
          transition: all 0.5s ease-out; }

main {
  min-height: calc(100vh - 4rem);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  main .greet {
    font-size: 2.5rem;
    margin: 0 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 3px #000; }
    main .greet .text-secondary {
      color: #eece1a;
      letter-spacing: 5px;
      text-shadow: 2px 4px 5px #000; }
    main .greet hr {
      color: #000;
      opacity: 0.5; }
  main .stream-warning {
    font-weight: bold;
    font-size: 1.2rem;
    color: #eee;
    text-align: center;
    background: #da5858;
    padding: 1.5rem;
    border-radius: 10px;
    letter-spacing: 1px;
    text-shadow: 0 0 2px #111; }
  main .info-container p {
    color: #ddd;
    text-align: center; }
  main .video {
    margin-top: 1rem; }
    main .video video {
      width: 90%;
      height: 50%;
      border: none;
      border-radius: 4px;
      background: #000;
      box-shadow: 0 0 1rem #000; }
  main .container {
    width: 100%;
    background: #404040;
    padding: 1rem 1.5rem;
    border-bottom: 5px solid #ff9933; }
    main .container p {
      color: #eee; }
    main .container h3 {
      letter-spacing: 3px;
      color: #ff9933;
      text-transform: uppercase; }
    main .container .sub-container {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(8, 1fr); }
      main .container .sub-container .character-container {
        width: 100%;
        height: 80%;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 5px #222;
        text-align: center; }
        main .container .sub-container .character-container img {
          width: 50%;
          height: 90%; }
        main .container .sub-container .character-container .character-name {
          letter-spacing: 5px;
          padding: 0.5rem;
          background: #eece1a;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          text-transform: uppercase; }
          main .container .sub-container .character-container .character-name:hover {
            background: #ff9933; }
            main .container .sub-container .character-container .character-name:hover a {
              color: #fff;
              text-shadow: 0 0 5px #000;
              width: 100%; }
          main .container .sub-container .character-container .character-name a {
            text-decoration: none;
            font-weight: 500;
            color: #222; }
    main .container .character-info {
      margin-bottom: 2vh;
      display: grid;
      justify-items: center; }
      main .container .character-info img {
        width: 20%;
        margin-bottom: 2vh; }
      main .container .character-info .description {
        background: #999;
        padding: 1rem;
        width: 96%;
        border-radius: 10px; }
        main .container .character-info .description .text {
          color: #111; }
    main .container .character-suggestion-container {
      background: #4d4d4d;
      padding: 0.8rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr); }
      main .container .character-suggestion-container .image-container {
        width: 60%;
        height: 60%;
        border-radius: 5px;
        box-shadow: 0 0 5px #222;
        display: flex;
        flex-direction: column;
        align-items: center; }
        main .container .character-suggestion-container .image-container img {
          width: 100%;
          height: 100%; }
        main .container .character-suggestion-container .image-container .character-name {
          padding: 0.5rem;
          width: 93%;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          background: #eece1a;
          text-align: center; }
          main .container .character-suggestion-container .image-container .character-name:hover {
            background: #ff9933; }
            main .container .character-suggestion-container .image-container .character-name:hover a {
              color: #fff; }
          main .container .character-suggestion-container .image-container .character-name a {
            text-decoration: none;
            font-size: 0.8rem;
            color: #000; }
  main .video-section {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .video-section .video-title {
      margin-top: 5vh;
      width: 50vh;
      color: #eece1a;
      display: flex;
      justify-content: space-between;
      cursor: pointer; }
      main .video-section .video-title a {
        text-decoration: none;
        position: relative;
        top: 0.5rem;
        color: #eece1a; }
        main .video-section .video-title a:hover {
          color: #555;
          transition: 300ms; }
      main .video-section .video-title .title {
        font-size: 1.2rem; }
    main .video-section video {
      width: 50vh;
      margin-top: 2vh;
      border-radius: 3px;
      box-shadow: 0 0 1rem #000; }
  main .break-line {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 58%;
    border-color: #888; }
  main .video-suggestion {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center; }
    main .video-suggestion .video-card {
      box-shadow: 0 0 5px #888;
      border-radius: 5px;
      margin: 0 0.5rem;
      transition: opacity 1s ease-in-out; }
      main .video-suggestion .video-card :hover {
        opacity: 0.6; }
      main .video-suggestion .video-card img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
      main .video-suggestion .video-card .video-title {
        color: #eece1a;
        text-align: center; }

#main-footer {
  text-align: center;
  position: absolute;
  bottom: calc(100vh - 0);
  right: 0;
  width: 100%;
  padding: 0.5rem;
  background: black;
  color: #ccc;
  line-height: 40px;
  height: 4rem; }

@media screen and (min-width: 1171px) {
  .nav-bar .logo img {
    width: 200px;
    height: 3.6rem; }
  main .greet {
    margin-top: 3.5rem; }
  main .video {
    width: 100%;
    display: flex;
    justify-content: center; }
    main .video video {
      width: 69%;
      outline: none; }
  main .stream-warning {
    width: 30%; }
  main .info-container {
    width: 38%; }
  main .video-section {
    width: 100%; }
    main .video-section .video-title {
      width: 60%; }
    main .video-section video {
      width: 60%; }
  main .video-suggestion {
    width: 30%; }
  main .container .sub-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr); }
    main .container .sub-container .character-container {
      cursor: pointer; }
      main .container .sub-container .character-container .character-name a {
        font-size: 0.8rem; }
  main .container .character-info img {
    width: 10%; }
  main .container .character-info .description {
    font-size: 1rem; }
  main .container .character-suggestion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    main .container .character-suggestion-container .image-container {
      width: 100%;
      margin: 0 0.5rem; }
      main .container .character-suggestion-container .image-container img {
        width: 50%;
        height: 20rem;
        padding: 0.5rem 0; }
      main .container .character-suggestion-container .image-container .character-name {
        width: 96%; }
  .video-section .video-title {
    width: 20vh;
    cursor: pointer; }
  .video-section video {
    width: 50vh;
    margin-top: 2vh;
    border-radius: 3px;
    box-shadow: 0 0 1rem #000; }
  .video-suggestion .video-card {
    box-shadow: 0 0 5px #888;
    border-radius: 5px; }
    .video-suggestion .video-card img {
      width: 10vw; }
    .video-suggestion .video-card .video-title {
      color: #eece1a;
      text-align: center; } }

@media screen and (max-width: 1170px) {
  main .greet {
    margin-top: 3rem; }
  main .stream-warning {
    width: 50%;
    font-size: 1rem; }
  main .info-container {
    width: 62%; }
  main .video video {
    width: 70vh; }
  main .container .sub-container .character-name a {
    font-weight: 700;
    font-size: 0.7rem; }
  main .container .character-suggestion-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center; }
    main .container .character-suggestion-container .image-container {
      width: 80%;
      padding: 1rem; }
      main .container .character-suggestion-container .image-container img {
        width: 60%; }
      main .container .character-suggestion-container .image-container .character-name {
        width: 110%; }
        main .container .character-suggestion-container .image-container .character-name a {
          width: 100%; }
  .video-section {
    width: 100%;
    padding: 1rem; }
    .video-section .video-title {
      justify-content: space-between;
      cursor: pointer; }
    .video-section video {
      margin-top: 1rem;
      border-radius: 3px;
      box-shadow: 0 0 1rem #000; }
  .video-suggestion {
    margin-top: 1rem;
    grid-template-columns: repeat(3, 1fr); }
    .video-suggestion .video-card {
      box-shadow: 0 0 5px #888;
      border-radius: 5px;
      width: 15%; }
      .video-suggestion .video-card img {
        width: 10vw; }
      .video-suggestion .video-card .video-title {
        color: #eece1a;
        text-align: center; } }

@media screen and (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    align-items: center; }
    .nav-bar .logo {
      width: 21rem; }
      .nav-bar .logo img {
        width: 350px;
        height: 5rem; }
    .nav-bar ul .list-item .list-link {
      font-size: 16px; }
  main {
    /* Index Page */
    /* All Pages */ }
    main .greet {
      margin-top: 9rem;
      font-size: 29px; }
    main .stream-warning {
      width: 65%;
      font-size: 0.9rem; }
    main .info-container {
      width: 80%; }
    main .video video {
      width: 100%; }
    main .container {
      /* Single Character Page */ }
      main .container .sub-container {
        grid-template-columns: repeat(3, 1fr); }
        main .container .sub-container .character-name a {
          font-weight: 600;
          font-size: 0.7rem; }
      main .container .character-suggestion-container {
        grid-template-columns: repeat(2, 1fr); }
        main .container .character-suggestion-container .image-container {
          width: 80%;
          height: 70%; }
          main .container .character-suggestion-container .image-container img {
            width: 30%;
            height: 10rem;
            padding: 0.6rem 0; }
      main .container .character-info img {
        width: 30%; }
      main .container .character-info .description {
        font-size: 0.9rem; }
  /* Watch Page */
  .video-section .video-title a {
    text-decoration: none;
    color: #eece1a; }
  .video-section video {
    margin-top: 2vh;
    border-radius: 3px;
    box-shadow: 0 0 1rem #000; }
  .break-line {
    width: 90%; }
  .video-suggestion .video-card {
    box-shadow: 0 0 5px #888;
    border-radius: 5px;
    width: 20%; }
    .video-suggestion .video-card .video-title {
      color: #000;
      text-align: center; } }

@media screen and (max-width: 500px) {
  .nav-bar .logo {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .nav-bar .logo img {
      width: 350px;
      height: 6rem; }
  .nav-bar ul {
    width: 23.5rem;
    margin-right: 5rem; }
    .nav-bar ul .list-item .list-link {
      font-size: 12px; }
  main .greet {
    font-size: 28px; }
  main .stream-warning {
    width: 80%;
    font-size: 0.8rem; }
  main .video-section {
    display: flex;
    justify-content: center; }
    main .video-section .video-title {
      width: 90%;
      font-size: 0.8rem; }
    main .video-section video {
      width: 100%; }
  main .container .sub-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr); }
    main .container .sub-container .character-name a {
      font-weight: 600;
      font-size: 0.65rem; }
  main .container .character-info img {
    width: 40%; }
  main .container .character-info .description {
    font-size: 0.8rem; }
  main .container .character-suggestion-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .container .character-suggestion-container .image-container {
      width: 100%;
      margin-top: 2vh; }
      main .container .character-suggestion-container .image-container img {
        width: 30%;
        height: 15rem;
        padding: 0.5rem; }
      main .container .character-suggestion-container .image-container .character-name {
        width: 100%; }
  main .video-suggestion {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    main .video-suggestion .video-card {
      width: 80%;
      margin: 0 0.5rem; } }
