// Widescreens
@include mediaXl {
  .nav-bar {
    .logo {
      img {
        width: 200px;
        height: 3.6rem;
      }
    }
  }

  main {
    .greet {
      margin-top: 3.5rem;
    }

    .video {
      width: 100%;
      display: flex;
      justify-content: center;

      video {
        width: 65%;
        outline: none;
      }
    }

    .stream-warning {
      width: 30%;
    }

    .info-container {
      width: 38%;
    }

    .video-section {
      width: 100%;

      .video-title {
        width: 60%;
      }

      video {
        width: 60%;
      }
    }

    .video-suggestion {
      width: 30%;
    }

    .container {
      .sub-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);

        .character-container {
          cursor: pointer;

          .character-name {
            a {
              font-size: 0.8rem;
            }
          }
        }
      }

      .character-info {
        img {
          width: 10%;
        }

        .description {
          font-size: 1rem;
        }
      }

      .character-suggestion-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        .image-container {
          width: 100%;
          margin: 1rem 0.5rem;

          img {
            width: 50%;
            height: 20rem;
            padding: 1rem 0;
          }

          .character-name {
            width: 100%;
          }
        }
      }
    }
  }

  .video-section {
    .video-title {
      width: 20vh;
      cursor: pointer;

      a {
      }
    }

    video {
      width: 50vh;
      margin-top: 2vh;
      border-radius: 3px;
      box-shadow: 0 0 1rem #000;
    }
  }

  .video-suggestion {
    .video-card {
      box-shadow: 0 0 5px #888;
      border-radius: 5px;

      img {
        width: 10vw;
      }

      .video-title {
        color: #eece1a;
        text-align: center;
      }
    }
  }
}

// Desktop & Laptops
@include mediaLg {
  main {
    .greet {
      margin-top: 3rem;
    }

    .stream-warning {
      width: 50%;
      font-size: 1rem;
    }

    .info-container {
      width: 62%;
    }

    .video {
      video {
        width: 70vh;
      }
    }

    .container {
      .sub-container {
        .character-name {
          a {
            font-weight: 700;
            font-size: 0.7rem;
          }
        }
      }

      .character-suggestion-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem 0;
        grid-column-gap: 0;
        grid-row-gap: 15px;
        justify-items: center;

        .image-container {
          width: 90%;
          height: 90%;

          img {
            width: 50%;
            height: 15rem;
            padding: 1rem;
          }

          .character-name {
            width: 100%;

            a {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .video-section {
    width: 100%;
    padding: 1rem;

    .video-title {
      justify-content: space-between;
      cursor: pointer;
    }

    video {
      margin-top: 1rem;
      border-radius: 3px;
      box-shadow: 0 0 1rem #000;
    }
  }

  .video-suggestion {
    margin-top: 1rem;
    grid-template-columns: repeat(3, 1fr);

    .video-card {
      box-shadow: 0 0 5px #888;
      border-radius: 5px;
      width: 15%;

      img {
        width: 10vw;
      }

      .video-title {
        color: #eece1a;
        text-align: center;
      }
    }
  }
}

// Tablets & Small Laptops
@include mediaMd {
  .nav-bar {
    flex-direction: column;
    align-items: center;

    .logo {
      width: 21rem;

      img {
        width: 350px;
        height: 5rem;
      }
    }

    ul {
      .list-item {
        .list-link {
          font-size: 16px;
        }
      }
    }
  }

  main {
    .greet {
      margin-top: 9rem;
      font-size: 29px;
    }

    .stream-warning {
      width: 65%;
      font-size: 0.9rem;
    }

    .info-container {
      width: 80%;
    }
    /* Index Page */
    .video {
      video {
        width: 100%;
      }
    }
    /* All Pages */
    .container {
      .sub-container {
        grid-template-columns: repeat(3, 1fr);

        .character-name {
          a {
            font-weight: 600;
            font-size: 0.7rem;
          }
        }
      }
      /* Single Character Page */
      .character-suggestion-container {
        grid-template-columns: repeat(2, 1fr);

        .image-container {
          width: 90%;
          height: 90%;

          img {
            width: 30%;
            height: 10rem;
            padding: 0.6rem 0;
          }
        }
      }

      .character-info {
        img {
          width: 30%;
        }

        .description {
          font-size: 0.9rem;
        }
      }
    }
  }
  /* Watch Page */
  .video-section {
    .video-title {
      a {
        text-decoration: none;
        color: #eece1a;
      }
    }

    video {
      margin-top: 2vh;
      border-radius: 3px;
      box-shadow: 0 0 1rem #000;
    }
  }

  .break-line {
    width: 90%;
  }

  .video-suggestion {
    .video-card {
      box-shadow: 0 0 5px #888;
      border-radius: 5px;
      width: 20%;

      .video-title {
        color: #000;
        text-align: center;
      }
    }
  }
}

// Smartphones
@include mediaSm {
  .nav-bar {
    .logo {
      width: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 350px;
        height: 6rem;
      }
    }

    ul {
      width: 23.5rem;
      margin-right: 5rem;

      .list-item {
        .list-link {
          font-size: 12px;
        }
      }
    }
  }

  main {
    .greet {
      font-size: 28px;
    }

    .stream-warning {
      width: 80%;
      font-size: 0.8rem;
    }

    .video-section {
      display: flex;
      justify-content: center;

      .video-title {
        width: 90%;
        font-size: 0.8rem;
      }

      video {
        width: 100%;
      }
    }

    .container {
      .sub-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);

        .character-name {
          a {
            font-weight: 600;
            font-size: 0.65rem;
          }
        }
      }

      .character-info {
        img {
          width: 40%;
        }

        .description {
          font-size: 0.8rem;
        }
      }

      .character-suggestion-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        .image-container {
          width: 100%;
          margin: 0.5rem 0;

          img {
            width: 30%;
            height: 15rem;
          }

          .character-name {
            width: 100%;
          }
        }
      }
    }

    .video-suggestion {
      width: 70%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      .video-card {
        width: 80%;
        margin: 0 0.5rem;
      }
    }
  }
}
